*{
    margin:0;
    padding:0;
    
}
html{
    font-size:16px;
}
nav{
    background-color:white;
    height:10vh;
    display:flex;
}
.nav-links{
    width:100vw;
}
input[type=checkbox]{
    display:none;
}
.hamburger{
    display:none;
    font-size: 25px;
    user-select: none;
    font-size:20px;
}
.home{
    height:10vh;
    background-color:white;
    display: flex;
    gap:70px;
    align-items: center;
    margin-left:10%;
    list-style-type: none;
    font-weight:bold;
}
a{
    text-decoration: none;
}
 .home-items{
        height:6vh;
        background-color: white;
        display: flex;
        gap: 5px;
        margin-right:25px;
        padding-top:10px;
    }
     
.sai{
    background-image: linear-gradient(to right,rgb(219, 77, 134),yellow);
    height:100vh;
    width:100vw;
    box-sizing: border-box;
}

.banner{
    height:85%;
    width:100vw;
    background-image: url("./assets/img1.jpg");
    background-size: 100% 100%;
    position: relative;
}
.box{
    width:500px;
    background-color: rgba(213, 125, 123, 0.7);
    position: absolute;
    padding: 50px;
    top:20vh;
    left:9vw;
    color:white;

}

.tit{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.titl{
    font-family: sans-serif;
}
.saii{
    width:100px;
    height:20px;
    bottom:0%;
}
.container{
    background-image: linear-gradient(to right,rgb(219, 77, 134),yellow);
    width:100vw;
    box-sizing: border-box;
}
.order-now{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color:white;
    letter-spacing:5px;
    padding-top:40px;
}
.items{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:120px;
    padding-top: 200px;
}
.card{
    width:250px;
    height:350px;
    background-color: white;
    border:solid white 5px;
    border-top-right-radius:50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    padding:10px;
    position: relative;
}
.fig1 img{
    width:250px;
    height:240px;
    border-top-right-radius:30px;
}
.fig2 img{
    width:250px;
    height:240px;
    border-top-right-radius:30px;
}
.fig3 img{
    width:250px;
    height:240px;
    border-top-right-radius:30px;
}
.name{
    text-align: center;
    font-family:monospace;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.text{
    position:relative;
    left:10px;
    right:10px;
    top:20px;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
.animal{
    width:60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(189, 163, 162);
    border: solid rgb(189, 163, 162) 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    left:700px;
    padding:10px 50px 10px 50px;
    font-weight: bold;
    margin-top: 220px;
    bottom:50px;
}
body {
    overflow-x: hidden; 
    overflow-y: auto;  
}
@media(max-width:882px){
    .home{
        display:none;
        position:absolute;
      /* background-color:yellow;*/
        z-index:2;
        right:0;
        left:0;
        padding:10px 10px;
        margin-top:24px;
        height:200px;
        
    }
    .home li:hover{
        display:inline-block;
        background-color:red;
        transition: 0.3s ease;
    }
    .home li+li{
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.home{
        display:block;
    }
    .hamburger{
        display:block;
       padding-top:10px;
        position:sticky;
      
    }

}
@media screen and (max-width:882px){
    .home-items{
        display: flex;
     height:4vh;
     background-color:white;
     padding-top: 18px;
     position: sticky;
    }
    .animal{
        left:50%;
    }
    .home{
        margin-left:0%;
    }
}

@media screen and (max-width: 1095px) {
    .container{
        width:100%;
    }
    .html{
        font-size: 20px;
    }
    .items {
        flex-wrap: wrap; 
        align-items: center;
        padding-top: 30px; 
        height:auto;
        background-image: linear-gradient(to right,rgb(219, 77, 134),yellow);
    }

    .animal {
        width: 70px; 
        height: 30px; 
        left: 50%;
        transform: translateX(-50%);
        
    }
    .box{
        width:250px;
    }
    .home-items{
        display: flex;
    height:4vh;
    background-color:white;
    padding-top: 12px;
    position: sticky;
    right:12px;
    }
   
}
@media screen and (max-width:412px) {
    .sai{
        width:100vw;
        box-sizing: border-box;
        padding:0;
    }
    .box{
        width:200px;
        padding:25px;
    }
    .home-items{
        height:4vh;
        position: sticky;
        display: flex;
        background-color:white;
        padding-top: 15px;
        right:12px;  
    }
    .hamburger{
        display:block;
       padding-top:14px;
        position:sticky;
    }
    li{
        color:red;
        padding:0;
    }
}
@media screen and (max-width:1120px){
    .home-items{
        padding-left: 0%;
    }
    /*.home{
        margin-left:5%;
    }*/
    .animal{
        left:50%;
    }
}

    @media screen and (max-width:1500px){
        .animal{
            left:50%;
        }
    }
    
